<div class="container">

   <div class="transparent-background">

        <div class="head">
            <label (click)="toggleToRegister()" class="register"> Register</label>
            <label class="login">Login</label>
        </div>

        <img src="/assets/style.png" alt="style.png" >

            <form class="form-control" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                

                <div class="email">
                    <input  type="email" formControlName="email" ngModel required>
                    <i class="fa fa-envelope" aria-hidden="true"> Email</i>
                </div>
                
               <div class="password">
                    <input type="password" formControlName="password" ngModel required>
                    <i class="fa fa-lock" aria-hidden="true"> Password</i>
                </div>

        <div class="below-input">
            <input type="checkbox" name="checkbox" class="checkbox">
            <label class="remember">Remember me</label>
            <a href="#"><strong>Forgot Password?</strong></a>
        </div>

       
<button type="submit" class="login-btn" [disabled]="!loginForm.valid">Login</button>

</form>
   

        <div class="social-login">
            <p><strong>Or Login With</strong></p>
            <img class="facebook"  src="/assets/facebook.png" alt="facebook.png">
            <img class="linkdin"  src="/assets/linkdin.png" alt="linkdin.png">
            <img class="google" src="/assets/google-plus.png" alt="google-plus.png">
            
        </div> 
       
   </div>
        
</div>

