 
.container {
    background-image: url('/assets/background.jpg');
    position: fixed;
    text-align: center;
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  img {
    margin-top: 10px;
    width: 90%;
  }

  .transparent-background {
    width: 420px;
    height: 535px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    margin-left: 38%;
    margin-top: 85px;
    box-sizing: border-box; 
}

.head {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: none;
}


  .register {
    background-color: #2A5987;
    margin-left: 25px;
    padding: 8px;
    margin-top: 30px;
    font-weight: bold;
    width: 190px;
    box-sizing: border-box;
  }

  .login {
    background-color: #017EFF;
    width: 190px;
    height: 40px;
    padding: 8px;
    margin-top: 30px;
    margin-right: 25px;
    font-weight: bold;
    box-sizing: border-box;
    
  }

  .form-control {
    background: rgba(0, 0, 0, 0);
    border: none;
    display: grid;
    grid-template-rows: auto auto;
    margin-top: 20px;
    row-gap: 10px;
  }
  .email {
    position: relative;
  }

  .password {
    position: relative;
  }

  .email i {
    position: absolute;
    top: 10px;
    right:325px;
  }

  .password i {
    position: absolute;
    top: 10px;
    right:302px;
  }

  .email input {
    width: 380px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px;
  }

  .password input {
    width: 380px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px;
  }

  .checkbox {
    margin-left: 10px;
    margin-top: 20px;
    outline: 1px solid #0F58B8;
  }

  .remember {
    margin-top: 15px;
    margin-right: 132px;
    color: white;
  }

  

  a {
    color: #0F62CA;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 20px;
  }

  .below-input {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .login-btn {
    background-color: #017EFF;
    width: 375px;
    height: 40px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
  }

  .social-login {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 20px;
  }

 p {
   text-align: center;
   margin-top: 10px;
 }

 .facebook {
   width: 50px;
   height: 50px;
 }

 .google {
  width: 40px;
  height: 40px;

}

.linkdin {
  width: 40px;
  height: 40px;

}