<div class="container">

    <div class="transparent-background">
 
         <div class="head">
             <label class="register"> Register</label>
             <label (click)="toggleToLogin()" class="login">Login</label>
         </div>
 
 
             <form class="form-control">
                 
 
                 <div class="first-name">
                     <input  type="text" name="first-name" required>
                     <i class="fa fa-user" aria-hidden="true"> First Name</i>
                 </div>

                 <div class="last-name">
                    <input  type="text" name="last-name" required>
                    <i class="fa fa-user" aria-hidden="true"> Last Name</i>
                </div>

                <div class="email">
                    <input  type="email" formControlName="email" ngModel required>
                    <i class="fa fa-envelope" aria-hidden="true"> Email</i>
                </div>

                <div class="phone">
                    <input type="text" name="phone" required>
                    <i class="fa fa-phone" aria-hidden="true"> Phone</i>
                </div>

                <div class="postcode">
                    <input  type="text" name="postcode" required>
                    <i class="fa fa-map-marker" aria-hidden="true"> Postcode</i>
                </div>
                 
               

                 <div class="birthday">Birthday</div>

                 <div class="dropdown">
                     
                    <select name="month" class="month">
                        <option value="Month">Month</option>
                    </select>

                    <select name="day" class="day">
                        <option value="Day">Day</option>
                    </select>

                    <select name="year" class="year">
                        <option value="Year">Year</option>
                    </select>

                 </div>

                 <div class="gender">Gender</div>

                 <div class="radio">
                    <input type="radio" class="male" name="gender" value="male">
                    <label class="male-radio">Male</label>
                    <input type="radio" class="female" name="gender" value="female">
                    <label class="female-radio">Female</label>
                </div>

                <div class="password">
                    <input  type="password" name="password" required>
                    <i class="fa fa-lock" aria-hidden="true"> Password</i>
                </div>

                <div class="confirm-password">
                    <input  type="password" name="confirm-password" required>
                    <i class="fa fa-lock" aria-hidden="true"> Confirm Password</i>
                </div>
 
         <div class="below-input">
             <input type="checkbox" name="checkbox" class="checkbox">
             <label class="remember">I accept the <a href="#">terms</a>and  <a href="#">conditions</a></label>
             
         </div>
 
        
        <button type="submit" class="register-btn">REGISTER</button>
 
 </form>
        
    </div>
         
 </div>
 
 
